@import '../../css/constants.css';

.file-tree {
  height: 100%;

  &__title {
    font-weight: bold;
    color: $textColourSecondary;
  }

  &__tree {
    height: 97%;

    &__conversation {
      .anticon {
        color: gold !important;
      }
    }

    &__conversation_header--no-data {
      .anticon {
        color: grey;
      }
    }
  }

  .ant-tree {
    padding-right: $smallMediumSpace;
  }
}
