@import '../../css/constants.css';

.file-tree {
  height: 100%;

  &__title {
    font-weight: bold;
    color: $textColourSecondary;
  }

  &__tree {
    height: 97%;

    .file-tree__scroll {
      height: calc(100% - 1px);
      overflow: auto;
    }

    &__conversation {
      .anticon {
        color: gold !important;
      }
    }

    &__conversation_header--no-data {
      .anticon {
        color: grey;
      }
    }

    &__conversation_header > .ant-tree-switcher {
      display: none;
    }
  }

  .ant-tree {
    padding-right: $smallMediumSpace;
  }

  .ant-tree .ant-tree-node-content-wrapper {
    margin-left: -4px;
    padding-inline: 2px 4px;
    transition-property: background-color, color;
  }

  .ant-tree .ant-tree-node-content-wrapper:hover,
  .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: $highlightColourPrimary !important;
    color: $textColourQuaternary !important;
  }

  .ant-tree .ant-tree-node-content-wrapper:hover .ant-tree-title,
  .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected .ant-tree-title,
  .ant-tree .ant-tree-treenode:hover .ant-tree-node-content-wrapper .ant-tree-title,
  .ant-tree .ant-tree-treenode-selected .ant-tree-node-content-wrapper .ant-tree-title {
    color: $textColourQuaternary !important;
  }
}
