# c# and build
bin/
obj/

# sensitive libs
libs/ShadowrunSerializer.dll
libs/ShadowrunDTO.dll

# frontend
dist/
node_modules/
app/node_modules

# logs
debug.log
logs/
app/yarn-error.log

README\.pdf

defs/operations/evaluate_battletech_float\.json

defs/operations/evaluate_battletech_int\.json

defs/operations/evaluate_battletech_string\.json

defs/operations/evaluate_funds\.json

defs/operations/evaluate_tag_for_current_system\.json

defs/operations/get_battletech_float\.json

defs/operations/get_battletech_int\.json

defs/operations/get_battletech_string\.json

defs/operations/modify_funds\.json

defs/operations/set_characters_visible\.json

defs/operations/set_current_system\.json

defs/operations/start_conversation\.json

defs/operations/time_skip\.json

defs/operations/add_contract\.json

defs/operations/set_battletech_camera_hard_lock.json

defs/operations/add_flashpoint.json

defs/operations/sideload_conversation.json
