@import '../../css/constants.css';

.editable-logic {
  &__logic-type,
  &__arg-type {
    margin-right: $tinySpace;
  }

  &__operation {
    margin-left: $largeSpace;

    &--even {
      background-color: $backgroundTertiary;
    }
  
    &-label {
      margin-right: $tinySpace;
    }
  }

  &__args {
    margin-left: $largeSpace;
    border: 1px solid white;
    border-radius: 2px;
    padding: $smallSpace;
    margin-top: $smallSpace;
    background-color: $backgroundTertiary;

    &--even {
      background-color: #3d3d3e;
    }

    &-container {
      margin: $tinySpace 0;

      &.first-operation {
        margin-top: -8px;
      }
    }

    &-label {
      margin-right: $tinySpace;
      margin-bottom: $tinySpace;
      line-height: $promoLineHeightLargest;
    }
  }

}