@import '../../css/constants.css';

.editable-logic {
  background-color: #3d3d3e;

  &--even {
    background-color: $backgroundTertiary;
  }

  &__logic-type,
  &__arg-type {
    margin-right: $tinySpace;
  }

  &__operation {
    margin-left: $mediumSpace;
    background-color: inherit;

    &--even {
      background-color: $backgroundTertiary;
    }
  
    &-label {
      margin-right: $tinySpace;
    }
  }

  &__arg {
    display: flex;
    align-items: center;
    gap: $tinySpace;
    margin-left: $mediumSpace;
  }

  &__args {
    margin-left: $mediumSpace;
    border: 1px solid white;
    border-radius: 2px;
    padding: $smallSpace;
    margin-top: $smallSpace;
    background-color: $backgroundTertiary;

    &--even {
      background-color: #3d3d3e;
    }

    &-container {
      margin: $tinySpace 0;

      &.first-arg {
        margin-top: -8px;
      }
    }

    &-label {
      color: $textColourPrimary;
      margin-right: $tinySpace;
      margin-bottom: $tinySpace;
      line-height: $promoLineHeightLargest;
    }
  }

  .ant-select,
  .ant-select .ant-select-selector,
  .ant-select .ant-select-selection-item,
  .ant-select .ant-select-selection-placeholder,
  .ant-select .ant-select-selection-search-input,
  .ant-select input,
  .ant-input {
    color: $textColourPrimary !important;
    -webkit-text-fill-color: $textColourPrimary !important;
  }

  .ant-select.ant-select-open .ant-select-selection-item,
  .ant-select.ant-select-focused .ant-select-selection-item,
  .ant-select.ant-select-open .ant-select-selection-search-input,
  .ant-select.ant-select-focused .ant-select-selection-search-input {
    color: $textColourPrimary !important;
    -webkit-text-fill-color: $textColourPrimary !important;
  }

  .ant-select .ant-select-selector,
  .ant-input {
    background-color: $backgroundTertiary !important;
    border-color: $borderTertiary !important;
  }

  .ant-select-focused .ant-select-selector,
  .ant-select-open .ant-select-selector,
  .ant-input:focus,
  .ant-input-focused {
    background-color: $backgroundTertiary !important;
    border-color: $linkColourPrimary !important;
  }

  &__arg > section {
    display: inline-flex !important;
    align-items: center;
    vertical-align: middle;
  }

  .anticon {
    margin-left: $smallSpace;
    color: gold;
  }
}
