@import '../../css/constants.css';

.dialog-editor {
  background-color: $backgroundTertiary;
  border: 1px solid white;
  border-radius: 2px;
  margin-bottom: $smallMediumSpace;

  &__tree {
    font-size: $fontSizeSmall;
    line-height: $lineHeightSmall;
    height: 55vh;
    overflow: auto;
  }

  @media screen 
    and (min-height: 740px) 
    and (max-height: 870px) {
    
    &__tree {
      height: 48vh;
    }  
  }

  @media screen 
    and (min-height: 681px) 
    and (max-height: 749px) {
    
    &__tree {
      height: 43vh;
    }
  }

  @media screen 
    and (min-height: 625px) 
    and (max-height: 680px) {
    
    &__tree {
      height: 37vh;
    } 
  }

  @media screen 
    and (min-height: 1px) 
    and (max-height: 624px) {
    
    &__tree {
      height: 33vh;
    } 
  }

  .rst__lineHalfHorizontalRight::before, .rst__lineFullVertical::after, .rst__lineHalfVerticalTop::after, .rst__lineHalfVerticalBottom::after,
  .rst__lineChildren::after {
    background-color: gold;
  }

  .rst__virtualScrollOverride * {
    color: black;
  }

  .rst__nodeContent {
    color: black;
  }

  .non-virtual__tree {
    width: auto;
  }
  
  .rst__moveHandle {
    background-color: #2f71d4;
  }

  .rst__rowTitle {
    font-weight: unset !important;
  }

  .rst__rowContents {
    min-width: unset !important;
  }

  .rst__rowLabel {
    padding-right: 5px !important;
  }

  .rst__rowWrapper {
    padding: 5px 5px 5px 0 !important;
  }
}