@import './constants.css';

.ant-btn-primary {
  color: #fff;
  background-color: $green6;
  border-color: $green6;

  &:active {
    color: #fff;
    background-color: $green6;
    border-color: $green6;
  }

  &:focus, &:hover {
    color: #fff;
    background-color: $green6;
    border-color: $green6;
  }

  &.ant-btn-clicked:after {
    border: 0 solid $green6;
  }
}

.ant-btn-secondary {
  color: #fff;
  background-color: $backgroundSecondary;
  border-color: $backgroundSecondary;

  &:active {
    color: #fff;
    background-color: $backgroundSecondary;
    border-color: $backgroundSecondary;
  }

  &:focus, &:hover {
    color: #fff;
    background-color: $backgroundSecondary;
    border-color: $backgroundSecondary;
  }

  &.ant-btn-clicked:after {
    border: 0 solid $backgroundSecondary;
  } 
}

.ant-btn-tertiary {
  color: #fff;
  background-color: $buttonBackgroundPrimary;
  border-color: $buttonBackgroundPrimary;

  &:active {
    color: #fff;
    background-color: $buttonBackgroundPrimary;
    border-color: $buttonBackgroundPrimary;
  }

  &:focus, &:hover {
    color: #fff;
    background-color: $buttonBackgroundPrimary;
    border-color: $buttonBackgroundPrimary;
  }

  &.ant-btn-clicked:after {
    border: 0 solid $buttonBackgroundPrimary;
  } 
}

.ant-tree,
.ant-tree li .ant-tree-node-content-wrapper {
  color: $textColourPrimary;
}

.ant-tree.ant-tree-show-line li span.ant-tree-switcher {
  background-color: $backgroundTertiary;
  color: white;
}

.ant-tree li .ant-tree-node-content-wrapper:hover, 
.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: #2ab0f77d;
  color: white;
}

.ant-form-item-label label {
  color: white;
}

.ant-input {
  background-color: $backgroundTertiary;  
  color: $textColourPrimary;
}

.ant-menu-horizontal {
  background: transparent;
  border-bottom: none;
  color: white;
  line-height: 12px;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
  border-bottom: none;
  color: white;
}

.ant-menu-item:active {
  background: none;
}

.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
  border-bottom: none;
  padding: 12px 0;
}

.ant-menu-submenu > .ant-menu {
  border-radius: 2px;
}

.ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item, .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  line-height: 32px;
  height: 32px;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
  color: $linkColourTertiary;
  background-color: $backgroundQuaternary;
}

.ant-modal-content {
  & ::-webkit-scrollbar {
    background: $borderPrimary;
  }
}

.ant-select-selection {
  background-color: $backgroundTertiary;  
  color: $textColourPrimary;
}

.ant-select-arrow {
  color: $textColourQuaternary;
}

.ant-select-dropdown {
  background-color: $backgroundTertiary;
  color: $textColourPrimary;

  &-menu-item {
    background-color: $backgroundTertiary;
    color: $textColourPrimary;

    &:hover {
      background-color: $highlightColourPrimary;
      color: white;
    }

    &-selected {
      background-color: $backgroundTertiary;
      color: $textColourTertiary;
    }
  }
}

.ant-tooltip-inner {
  background-color: gold;
  color: black;
}

.ant-tooltip-placement-top .ant-tooltip-arrow {
  border-top-color: gold;
}

.ant-input::-webkit-input-placeholder {
  font-style: italic;
  color: #ffffff2e;
}