$tinySpace: 4px;
$smallSpace: 8px;
$smallMediumSpace: 12px;
$mediumSpace: 16px;
$mediumLargeSpace: 24px;
$largeSpace: 32px;
$largerSpace: 48px;
$largestSpace: 96px;
$hugeSpace: 104px;

$smallMediumImageSize: 150px;
$mediumImageSize: 200px;

$mediumButtonSize: 150px;

$scrollbarWidth: 34px;

$subMenuWidth: 208px;

$promoContentWidth: 960px;
