{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["chrome 63"]
      }
    }],
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["import", {"libraryName": "antd", "style": true}]
  ]
}
