{
  "extends": ["airbnb"],
  "rules": {
    "linebreak-style": 0,
    "react/self-closing-comp": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "max-len": ["error", { "code": 140 }],
    "arrow-parens": ["error", "always"]
  },
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "__BUILD_DATE__": true,
    "boundControllerAsync": true
  }
}
