.splash-screen {
  background-image: resolve('battletech_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0.2;

  &__logo {
    background-image: resolve('battletech-title.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vh;
    height: 200px;
    margin: auto;
  }
}