@import '../../css/constants.css';

.file-system-picker {
  display: flex;

  &__quick-links {
    flex: 0 0 78px;
    margin-right: 20px;
    text-align: center;
    max-height: 55vh;
    overflow: auto;
  }

  &__quick-links .icon-button {
    margin-top: 12px;
  }

  &__quick-link-button.ant-btn {
    color: white;
    box-shadow: none;
    transition-property: background-color, border-color, color, box-shadow;
  }

  &__quick-link-button--built-in.ant-btn {
    background-color: $green6;
    border-color: $green6;
  }

  &__quick-link-button--built-in.ant-btn:not(:disabled):hover,
  &__quick-link-button--built-in.ant-btn:not(:disabled):focus-visible {
    color: white;
    background-color: #73d13d;
    border-color: #73d13d;
  }

  &__quick-link-button--built-in.ant-btn:not(:disabled):active {
    color: white;
    background-color: $green3;
    border-color: $green3;
  }

  &__quick-link-button--favourite.ant-btn {
    background-color: $backgroundSecondaryPale;
    border-color: $backgroundSecondaryPale;
  }

  &__quick-link-button--favourite.ant-btn:not(:disabled):hover,
  &__quick-link-button--favourite.ant-btn:not(:disabled):focus-visible {
    color: white;
    background-color: $highlightColourPrimary;
    border-color: $highlightColourPrimary;
  }

  &__quick-link-button--favourite.ant-btn:not(:disabled):active {
    color: white;
    background-color: $blue9;
    border-color: $blue9;
  }

  &__quick-link-button.ant-btn .anticon,
  &__quick-link-button.ant-btn .anticon svg {
    color: inherit;
  }

  &__quick-link-label {
    margin-top: 4px;
    color: $grey8;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
  }

  &__directory-list {
    flex-grow: 1;
    max-height: 55vh;
    margin-left: $tinySpace;
    overflow: auto;
  }

  &__directory-item {
    color: $grey7;
    cursor: pointer;
    padding: 0;
    min-height: 30px;
  }

  &__directory-item-subcontainer {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 30px;
    padding: 4px 8px;
  }

  &__directory-item:hover,
  &__directory-item:focus,
  &__directory-item--active {
    background-color: #2ab0f77d;
  }

  &__directory-icon,
  &__file-icon {
    color: $grey7;
    margin-right: $smallMediumSpace;
    font-size: 14px;
  }

  &__directory-name {
    line-height: 1;
  }
}
