@import '../../css/constants.css';

.file-system-picker {
  display: flex;

  &__quick-links {
    margin-right: 20px;
    text-align: center;
  }

  &__directory-list {
    flex-grow: 1;
    max-height: 55vh;
    margin-left: $tinySpace;
    overflow: auto;
  }

  &__directory-item {
    cursor: pointer;
    padding: 0;
  }

  &__directory-item-subcontainer {
    padding: 12px 8px;
    width: 100%;
  }

  &__directory-item:hover,
  &__directory-item:focus,
  &__directory-item--active {
    background-color: #2ab0f77d;
  }

  &__directory-icon,
  &__file-icon {
    margin-right: $smallMediumSpace;
  }

  &__directory-name {
    line-height: 1;
  }
}
